<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズ管理画面</title>
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>
<body>
    <header class="header">
        <h1>管理者画面トップページ</h1>
    </header>
    <div class="button-container">
        <a href="/admin/create" class="admin-button">作成</a>
    </div>
    <div class="button-container">
        <a href="/admin/quizlist" class="admin-button">更新削除</a>
    </div>
    <div class="button-container">
        <a href="/admin/check" class="admin-button">
            問題チェック
            <div class="notification-container">
                <span class="notification-badge" th:text="${notice}">1</span>
            </div>
        </a>
    </div>
</body>
</html>
