<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズ管理画面</title>
</head>
<body>
    <div class="button-container">
        <a href="/admin/countrylist" class="admin-button">クイズの一覧の表示または削除</a>
    </div>
    <div class="button-container">
        <a href="/admin/addCountry" class="admin-button">クイズのの追加</a>
    </div>
    <div class="button-container">
        <a href="/admin/addCountry" class="admin-button">問題チェック</a>
    </div>  
</body>
</html>
