<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>クイズ問題チェック</title>
    <link rel="stylesheet" href="check.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>一覧</h1>
        </header>
        <ul>
            <li th:each="quiz : ${quiz}">
                <div class="quiz-details">
                    <span th:text="'問題: ' + ${quiz.question} ">問題</span>
                    <span th:text="'正解: ' + ${quiz.correct} ">正解</span>
                    <span th:text="'不正解の選択肢: ' + ${quiz.otherone}">不正解1</span>
                    <span th:text="'不正解の選択肢: ' + ${quiz.othertwo}">不正解2</span>
                    <span th:text="'クイズのジャンル: ' + ${quiz.type}">ジャンル</span>

                    <div class="quiz-buttons">
                    <form th:action="@{/登録のやつ}" method="post">
                        <input type="hidden" name="id" th:value="${quiz.id}" />
                        <button type="submit" class="post-button">投稿</button>
                    </form>
                    <form th:action="@{/editing}" method="post">
                        <input type="hidden" name="id" th:value="${quiz.id}" />
                        <button type="submit" class="update-button">更新</button>
                    </form>
                    <form th:action="@{/remove}" method="post">
                        <input type="hidden" name="id" th:value="${quiz.id}" />
                        <button type="submit" class="delete-button">削除</button>
                    </form>
                    
                    
                </div>
            </li>
        </ul>
    </div>
</body>
</html>