<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズ追加</title>
    <link rel="stylesheet" href="/css/admin/addquiz.css">
</head>
<body>
    <header class="header">
        <h1>クイズ作成</h1>
    </header>
    <div th:if="${create}">
       <p th:text="${create}"></p>
   </div>
   <div th:if="${posting}">
       <p th:text="${posting}"></p>
       <form th:action="@{/admin/update}" method="post">
           <input type="hidden" name="id" th:value="${id}" />
           <button type="submit" class="update-button">このクイズを投稿する</button>
       </form>
   </div>
    <button type="button" class="back-button" onclick="location.href='/admin'">トップページに戻る</button>
    <button type="button" class="list-button" onclick="location.href='/admin/quizlist'">一覧に戻る</button>
    <button type="button" class="check-button" onclick="location.href='/admin/check'">問題チェックに戻る</button>
    <form action="/admin/create" method="post">
        <label for="question">クイズ:</label>
        <input type="text" id="question" name="question" maxlength="100" required 
               th:value="${quiz != null ? quiz.question : ''}">
    
        <label for="correct">正解の回答:</label>
        <input type="text" id="correct" name="correct" maxlength="100" required 
               th:value="${quiz != null ? quiz.correct : ''}">
    
        <label for="otherone">不正解の回答1:</label>
        <input type="text" id="other_one" name="other_one" maxlength="100" required 
               th:value="${quiz != null ? quiz.other_one : ''}">
    
        <label for="othertwo">不正解の回答2:</label>
        <input type="text" id="other_two" name="other_two" maxlength="100" required 
               th:value="${quiz != null ? quiz.other_two : ''}">
        <input type="hidden" name="id" th:value="${quiz != null ? quiz.id : ''}">

        <input type="hidden" name="confirmation" 
               th:value="${quiz != null && quiz.confirmation != null ? quiz.confirmation : false}">
    
        <button type="submit">送信</button>
    </form>
    
</body>
</html>

