body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #92d5dc;
    padding: 20px;
    text-align: center;
    color: #4e493f;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

h1{
    font-size: 24px;
    margin-right: 40px;
}

#startButton {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 40px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 120px;
}

#startButton:hover {
    background-color: #0056b3;
}

h2{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 60px;
}

p{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 65px;
}

.space-frame {
    position: relative; /* 相対位置でビデオタグを内包 */
    width: 300px; /* 枠線の横幅 */
    height: 300px; /* 枠線の縦幅（正方形） */
    border: 2px solid #4682b4; /* 枠線の色 */
    margin-top: 20px; /* h1との間に余白を作る */
    overflow: hidden; /* ビデオが枠からはみ出さないように */
    margin-left: 60px;
}

#video {
    position: absolute; /* 絶対位置で枠内に配置 */
    width: 100%; /* 枠の幅に合わせる */
    height: 100%; /* 枠の高さに合わせる */
    object-fit: cover; /* ビデオを枠に合わせて縮小・拡大 */
}

button{
    background-color: #e7ce53;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 20px;
}
