body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

div {
    text-align: center;
    margin: 20px auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: aliceblue;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: aliceblue;
}