.quiz-question {
    background-color: #e0f7fa; /* 問題欄の背景色を薄い青にする */
    
    width: 300px; /* 幅を300pxに設定 */
    height: 100px; /* 高さを100pxに設定 */
    object-fit: cover; /* 画像を枠に合わせてトリミング */
    border: 2px solid #0000ff; /* 問題欄の枠の色を濃いにする */
    color: #ffffff; /* 文字色を白にする */
    padding: 10px; /* 内側の余白を設定 */
    margin-bottom: 10px; /* 下部の余白を設定 */
    margin-left: 30px; /* 左部の余白を設定 */
    margin-right: 30px; /* 右部の余白を設定 */
}

.quiz-answer {
    background-color: #ffffff; /* 解答欄の背景色を白にする */
    width: 100px; /* 幅を100pxに設定 */
    height: 70px; /* 高さを70pxに設定 */
    object-fit: cover; /* 画像を枠に合わせてトリミング */
    border: 2px solid #ff1; /* 解答欄の枠の色を黄色にする */
    color: #0000; /* 文字色を黒にする */
    padding: 10px; /* 内側の余白を設定 */
    margin-bottom: 10px; /* 下部の余白を設定 */
    margin-left: 80px; /* 左部の余白を設定*/
    margin-right: 80px; /* 右部の余白を設定*/
}

.square-image {
    width: 100px; /* 幅を100pxに設定 */
    height: 70px; /* 高さを70pxに設定 */
    object-fit: cover; /* 画像を枠に合わせてトリミング */
    border: 5px solid #ffffff; /* 枠の太さを5px、色を黒に設定 */
}

.center-image {
    display: block; /* 画像をブロック要素にする */
    margin: 0 auto; /* 自動的に左右のマージンを設定して中央に配置する */
    width: 400px; /*幅を400pxに設定 */
}