body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    height: auto;
    overflow: auto;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #4b5eaa;
}

.button-container {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.admin-button {
    display: flex;
    background-color: #ffffe0;
    color: #4b5eaa;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
    height: 70px;  
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 280px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.admin-button:hover {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

.notification-icon,.notification-badge {
    position: fixed; /* 固定位置に設定 */
    bottom: 170px; /* 下からの距離 */
    right: 600px; /* 右からの距離 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* アイコンの幅 */
    height: 50px; /* アイコンの高さ */
    background-color: #ff0400; /* 背景色 */
    border-radius: 50%; /* 円形にする */
}

.notification-container[data-noticen=0] {
    display: none; /* 通知が0のとき非表示 */
}