body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px; 
    color: #4b5eaa;
}

.form-container {
    padding: 20px;
    width: 100%;
    max-width: 900px;
    position: relative;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

#question {
    height: auto;
    width: 100%; 
    max-width: 900px; 
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word; 
    white-space: normal; 
    resize: vertical; 
}

input[type="text"],
input[type="number"] {
    width: 800px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #4b5eaa;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    right: 20px; /* 右上に配置 */
    top: 20px;   /* 上に配置 */
}

button:hover {
    background-color: #3b4b8a;
}

.back-button {
    background-color: #4b5eaa;
    color: white;
    border: none;
    padding: 12px 20px; /* パディングを調整 */
    font-size: 16px;   /* フォントサイズを調整 */
    font-weight: bold;
    width: auto; /* 幅をコンテンツに合わせて自動調整 */
    max-width: 200px;  /* 最大幅を指定して広がりすぎないように制限 */
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 20px; /* 左側に配置 */
    top: 20px;  /* 上側に配置 */
}


.back-button:hover {
    background-color: #3b4b8a;
}

.list-button{
    background-color: #4b5eaa;
    color: white;
    border: none;
    padding: 12px 20px; /* パディングを調整 */
    font-size: 16px;   /* フォントサイズを調整 */
    font-weight: bold;
    width: auto; /* 幅をコンテンツに合わせて自動調整 */
    max-width: 200px;  /* 最大幅を指定して広がりすぎないように制限 */
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 240px; /* 左側に配置 */
    top: 20px;  /* 上側に配置 */
}

.back-button:hover {
    background-color: #3b4b8a;
}

.update-button {
    background-color: #4b5eaa;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; /* 絶対位置指定 */
    right: 110px;
    top: 20px; 
    width: 210px;
    height: 50px;
}

.update-button:hover {
    background-color: #3b4b8a;
}




