body {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
h2 {
    margin-top: 20px;
}
.back-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.back-button:active {
    background-color: #004080;
    transform: translateY(1px);
}

.back-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
