body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 20px;
}

.header {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px; 
    color: #4b5eaa;
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 900px;
    position: relative;
}

button[type="submit"]{
    background-color: #e7ce53;
    color: white; /* テキストを白色に */
    padding: 10px 20px; /* 内側余白 */
    font-size: 16px; /* フォントサイズ */
    border: none; /* ボーダーを消去 */
    border-radius: 6px; /* 角を丸く */
    cursor: pointer; /* ホバー時にポインター */
    transition: background-color 0.3s ease; /* 背景色のアニメーション */
    margin: 10px 0px;
}

button[type="submit"]:hover {
    background-color: #cc9d0f
}

button.back-button {
    background-color: #4fbd5a; /* サンドカラー */
    color: white; /* テキストを白色に */
    padding: 10px 20px; /* 内側余白 */
    font-size: 16px; /* フォントサイズ */
    border: none; /* ボーダーを消去 */
    border-radius: 6px; /* 角を丸く */
    cursor: pointer; /* ホバー時にポインター */
    transition: background-color 0.3s ease; /* 背景色のアニメーション */
}

button.back-button:hover {
    background-color: #1d781d; /* 濃いサンドカラーに変更 */
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span {
    font-size: 16px;
    color: #333;
}


.quiz-buttons {
    display: flex;
    gap: 15px; 
    justify-content: flex-end; 
    align-items: center;
}


button {
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: normal;  
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button.unpost-button,
button.update-button, 
button.delete-button {
    min-width: 15px; /* 最小幅を設定してボタンの大きさを統一 */
    height: 50px;
    text-align: center; /* ボタン内のテキストを中央揃え */
}

button:hover {
    opacity: 0.8;  
}

button.unpost-button{
    background-color: #c82e7b;
}
button.unpost-button:hover{
    background-color: #923061;
}

button.update-button {
    background-color: #61b3e9;  
}

button.update-button:hover {
    background-color: #2980b9;  
}

button.delete-button {
    background-color: #f77d6f;  
}

button.delete-button:hover {
    background-color: #c0392b;  
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.popup button {
    color: black;
    background-color: #b6b3b3;
    margin: 5px;
}

