<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>503 - メンテナンス中</title>
    <link rel="stylesheet" href="/css/userpage/error.css">
</head>
<body>
    <div class="header">
        <img src="/img/umigatari.png" alt="umigatarilogo">
        <img src="/img/batu.png" alt="batu">
        <img src="/img/jjc.png" alt="jjclogo">
    </div>
    <h1>503 - サービスが利用できません</h1>
    <h2>現在、サイトはメンテナンス中です。しばらくしてから再度アクセスしてください。</h2>
    <h2>ご迷惑をおかけして申し訳ありません。</h2>
</body>
</html>
