body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* アリスブルー */
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f0f8ff;  /* アリスブルーに合わせたヘッダー色 */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content-container {
    padding: 20px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #6ca0dc; /* ヘッダーと同じアリスブルーで統一 */
}

ol {
    margin: 20px 0;
    padding-left: 20px;
}

li {
    font-weight: bold; /* liタグを太文字にする */
    margin-bottom: 10px; /* liタグの下にマージンを追加 */
}

li p {
    font-weight: normal; /* pタグは太文字にしない */
    margin: 5px 0; /* pタグの上下に少しマージンを追加して読みやすくする */
}


p {
    line-height: 1.6; /* 行間を少し広げる */
    margin-bottom: 15px; /* pタグの下に余白を追加して読みやすくする */
}

footer {
    text-align: center;
    background-color: #f0f8ff;  /* アリスブルーに合わせたフッター色 */
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
