<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ランキング</title>
    <link rel="stylesheet" href="/css/userpage/userpage.css">
    <script src="/js/ranking.js"></script>
</head>
<body>
<div class="header">
    <h1>うみがたり クイズスタンプラリー</h1>
</div>

<div class="container">
    <h2>ランキング</h2>

    <!-- 更新日時 -->
    <div class="update-time">
        <p>最終更新: <span id="update-time">loading...</span></p>
    </div>

    <ul class="ranking-list">
        <!-- ランキングヘッダー -->
        <li class="ranking-item">
            <span class="rank">順位</span>
            <span class="name">名前</span>
            <span class="points">正解数</span>
        </li>

        <!-- ランキングの個々の項目 -->
        <li th:each="account, iterStat : ${ranking}" class="ranking-item" th:classappend="${iterStat.index + 1 == myranking ? ' highlight' : ''}">
            <span class="rank" th:text="${iterStat.index + 1}">1</span>
            <span class="name" th:text="${account.name}">User Name</span>
            <span class="count" th:text="${account.count}">100</span>
        </li>
    </ul>

    <!-- 現在のユーザーの順位を表示 -->
    <div class="my-ranking">
        <p>あなたの順位は <span th:text="${myranking}">5</span> 位です。</p>
    </div>
    <form action="stamp" method="get">
        <button type="submit">スタンプへ</button>
    </form>
</div>
</body>
</html>
