<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズスタンプラリー - 水族館の中を回ってQRコードを探してクイズに挑戦！</title>
    <link rel="stylesheet" href="/css/userpage/userpage.css">
</head>
<body>
    <div class="header">
        <h1>うみがたり クイズスタンプラリー</h1>
    </div>
    <div class="content-container">
        <h2>ルール概要</h2>
        <p>このクイズスタンプラリーでは、水族館の中を回り、QRコードを探して読み取ることで、楽しいクイズに挑戦できます。</p>
        <p>累計正解数に応じて、ランキングや累計正解数報酬として可愛い水族館の生物の画像をプレゼント！</p>

        <h3>ルール</h3>
        <ol>
            <li>水族館の中でQRコードを探し、読み込む。
                <p>チェックポイントは合計で9箇所あります。すべてのチェックポイントを回り、クイズを解くチャンスを増やしましょう！</p>
            </li>
            <li>QRコードを読み込むと、3問のクイズが表示されます。解きたいクイズを選んで挑戦！
                <p>クイズはひとつのチェックポイントで１日１回まで解けます。一度解いたら次のチェックポイントへ進んでください。</p>
            </li>
            <li>正解すると、スタンプをゲット！
                <p>また、正解すると、クイズ作成権がもらえます。そこで作成したクイズは、他のユーザーがそのクイズに挑戦します。</p>
                <p>クイズを作成しないことも可能です。</p>
                <p>不正解の場合、スタンプやクイズ作成権はもらえません。</p>
            </li>
        </ol>
        
        <h3>報酬</h3>
        <p>クイズに正解することで、累計正解数に応じた報酬がもらえます！</p>
        <p>累計正解数に応じて、可愛い水族館の生物の画像をゲットできます。</p>

        <h3>ランキング</h3>
        <p>クイズに挑戦して、ランキングに載りましょう！</p>

        <h3>注意事項</h3>
        <ul>
            <li>QRコードの読み取りにはスマートフォンが必要です。</li>
            <li>一度QRコードを読み取ったチェックポイントでは、その日はもうクイズを解けません。次のチェックポイントに回りましょう。</li>
            <li>不正解の場合、スタンプはもらえませんので、正解を目指して挑戦しましょう！</li>
            <li>チェックポイントは全部で5箇所あり、どの順番で回っていただいても問題ありません</li>
            <li>タブを閉じると、正常にアプリが機能しないことがあります。アプリ利用中はタブを閉じないよう気を付けてください</li>
        </ul>
    </div>
    <form action="stamp" method="get">
        <button type="submit">スタンプへ</button>
    </form>
</body>
</html>
