<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>うみがたりクイズスタンプラリー</title>
    <link rel="stylesheet" href="/css/userpage/umigatari.css">
</head>
<body>
    <div class="header">
        <h1>うみがたり クイズスタンプラリー</h1>
    </div>
    <div class="content-container">
        <h2>うみがたりへお越しいただきありがとうございます！</h2>
        <p>今回私たち上越公務員・情報ビジネス専門学校の情報ITビジネス・大学併修科はうみがたり様とコラボをしてクイズスタンプラリーをつくることになりました。</p>
        <p>クイズを解いていただく前に下部にある新規登録とログインをしていただきたいです。</p>
        <p>ログインをした後に館内にあるQRコードを読み取ってクイズに答えてみてください。</p>
        <p>ぜひ楽しんでください！！</p>
    </div>
    <div class="button-container">
        <form action="/createaccount/" method="get">
            <button id="signup-btn" class="signup-btn">新規登録</button>
        </form>
        <form action="/login" method="get">
            <button id="login-btn" class="login-btn">ログイン</button>
        </form>
    </div>
    <footer class="footer">
        <div class="logo">
            <img src="JJC.png" class="header-image">
            <span class="header-divider">✖</span>
            <img src="umigatari-logo.svg" class="header-image">
        </div>
    </footer>
</body>