<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account/account.css">
    <title>アカウント作成 情報入力</title>
    <script src="/js/validateForm.js" defer></script>
</head>
<body>
    
    <div class="container">
        <h1>アカウント作成</h1>
        <!-- エラーメッセージ -->
    <div style="color: red;">
        <p th:text="${error}">そのユーザーネームは既に登録されています。別のユーザーネームを使用してください。</p>
    </div>
        <p>以下の情報を入力してアカウントを作成してください。</p>
        <!-- clearが設定されている場合は入力フォームを非表示にし、ログインボタンを表示 -->
        <div th:if="${clear == null}">
            <form action="/create" method="post" onsubmit="validateForm(event)">
                <!-- 受け取ったメールを隠しフィールドに設定 -->
                <input type="hidden" name="mail" th:value="${mail}">

                <label for="username">ユーザー名</label>
                <input type="text" id="name" name="name" required placeholder="ユーザー名">

                <label for="password">パスワード</label>
                <input type="password" id="password" name="password" required placeholder="パスワード" minlength="8">

                <label for="confirm-password">パスワードの確認</label>
                <input type="password" id="confirm-password" name="confirm-password" required placeholder="パスワードの確認" minlength="8">

                <button type="submit">アカウントを作成する</button>
            </form>
        </div>
        <!-- clearが設定されている場合は入力フォームを非表示にし、ログインボタンを表示 -->
        <div th:if="${clear != null}">
            <p>アカウントが作成されました。</p>
            <a href="/login">
                <button>ログイン画面へ</button>
            </a>
        </div>
    </div>

</body>
</html>
