<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account/account.css">
    <title>アカウント作成 情報入力</title>
    <script src="/js/validateForm.js" defer></script>
</head>
<body>
    <div class="header">
        <img src="/img/umigatari.png" alt="umigatarilogo">
        <img src="/img/batu.png" alt="batu">
        <img src="/img/jjc.png" alt="jjclogo">
    </div>
    
    <div class="container">
        <h1>アカウント作成</h1>
    <div style="color: red;">
        <p th:text="${error}">そのユーザーネームは既に登録されています。別のユーザーネームを使用してください。</p>
    </div>
        <p>以下の情報を入力してアカウントを作成してください。</p>
        <div th:if="${clear == null}">
            <form action="/create" method="post" onsubmit="validateForm(event)">
                <input type="hidden" name="mail" th:value="${mail}">
                <input type="hidden" name="addrivute" th:value="${addrivute}">
                <label for="username">ニックネーム</label>
                <input type="text" id="name" name="name" required placeholder="ニックネーム" minlength="1"  maxlength="100">
                <p>ニックネームはランキングに表示されます。個人が特定されるような情報は入力しないようご注意ください。</p>
                <label for="password">パスワード</label>
                <input type="password" id="password" name="password" required placeholder="パスワード" minlength="8" maxlength="100">

                <label for="confirm-password">パスワードの確認</label>
                <input type="password" id="confirm-password" name="confirm-password" required placeholder="パスワードの確認" minlength="8" maxlength="100">

                <button type="submit">アカウントを作成する</button>
            </form>
        </div>
        <div th:if="${clear != null}">
            <p class="message">アカウントが作成されました。</p>
            <a href="/login">
                <button>ログイン画面へ</button>
            </a>
        </div>
    </div>

</body>
</html>
