<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account/account.css">
    <title>メールアドレス入力</title>
</head>
<body>
<div class="container">
    <h1>メールアドレス入力</h1>
    <p>以下のフォームにメールアドレスを入力してください。</p>
    <p th:text="${send}" class="send"> 送信しました</p>
    <form action="/sendmail" method="post">
        <label for="email">メールアドレス</label>
        <input type="mail" id="mail" name="mail" required placeholder="example@domain.com">

        <button type="submit">送信</button>
    </form>
</div>

</body>
</html>
