<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account/account.css">
    <title>パスワード再設定</title>
    <script src="/js/validateForm.js" defer></script>
</head>
<body>
    <div class="header">
        <img src="/img/umigatari.png" alt="umigatarilogo">
        <img src="/img/batu.png" alt="batu">
        <img src="/img/jjc.png" alt="jjclogo">
    </div>
<div class="container">
    <h1>パスワード再設定</h1>
    <p class="message">新しいパスワードを入力してください。</p>

    <form action="/change" method="post" onsubmit="validateForm(event)">

        <input type="hidden" name="mail" th:value="${mail}">

        <label for="password">新しいパスワード</label>
                <input type="password" id="password" name="password" required placeholder="パスワード" minlength="8">

                <label for="confirm-password">パスワードの確認</label>
                <input type="password" id="confirm-password" name="confirm-password" required placeholder="パスワードの確認" minlength="8">

        <button type="submit">パスワードを再設定する</button>
    </form>

</div>

</body>
</html>
