<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account/account.css">
    <title>パスワードリセット - パスワードを忘れた場合の対処法</title>
</head>
<body>
    <div class="header">
        <img src="/img/umigatari.png" alt="umigatarilogo">
        <img src="/img/batu.png" alt="batu">
        <img src="/img/jjc.png" alt="jjclogo">
    </div>
    <div class="container">
        <h1>パスワードリセット</h1>
        <form action="/forgotpassword" method="post">
            <div class="form-group">
                <label for="mail">登録しているメールアドレス</label>
                <p th:text="${send}" class="message"> 送信しました</p>
                <input type="email" id="mail" name="mail" placeholder="メールアドレスを入力" required>
            </div>
            <button type="submit">パスワードリセットリンクを送信</button>
        </form>
    </div>

</body>
</html>
