<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quiz/quiz.css">
    <title>問題作成フォーム</title>
</head>
<body>
    <div class="header">
        <img src="/img/umigatari.png" alt="umigatarilogo">
        <img src="/img/batu.png" alt="batu">
        <img src="/img/jjc.png" alt="jjclogo">
    </div>
    <div class="content-container">
        <div class="section fade-in">
            <p class="title">作成方法</p>
            <div class="content">
                <p>問題累計正解数が３問を超えるとクイズ作成機能が解放されます。</p>
                <p>みんなに知ってほしい豆知識や難易度がたかい問題など海の生きものや水族館に関する問題を作成してください！</p>
                <p>１個のクイズにつき正解の回答１つと不正解の回答２つを入力してください</p>

            </div>
        </div>
        <div class="section fade-in">
            <p class="title">注意事項</p>
            <div class="content">
                <p>問題は、管理者によるチェックの後に、このクイズアプリで実際に使用されます。</p>
                <p>問題は常にすべての問題の中からランダムで出題されるため、自分が作成した問題が必ず採用されるものではありません。</p>
                <p>クイズとしてほかの人が不快になるような内容や言葉遣いは避けてください</p>
            </div>
        </div>
    </div>
        <div id="message" th:if="${create}">
            <h2 th:text="${create}" ></h2>
        </div>
        <div id="message" th:if="${ngword}">
            <h2 th:text="${ngword}" ></h2>
        </div>

        <div id="quiz-form-container" th:if="${count >= 3}" th:unless="${create}">
            <form action="/quiz/create" method="post">
                <label for="question">クイズ:</label>
                <input type="text" id="question" name="question" maxlength="100" required>
        
                <label for="correct">正解の回答:</label>
                <input type="text" id="correct" name="correct" maxlength="100" required>
        
                <label for="otherone">不正解の回答1:</label>
                <input type="text" id="other_one" name="other_one" maxlength="100" required>
        
                <label for="othertwo">不正解の回答2:</label>
                <input type="text" id="other_two" name="other_two" maxlength="100" required>
        
                <input type="hidden" name="confirmation" value="true">
        
                <button id = "addquiz" type="submit" class="solve-button">作成する</button>
            </form>
        </div>  

        <div class="button-container">
            <form th:action="@{/stamp}" method="get">
                <button id="stamp-btn" class="solve-button">スタンプへ</button>
            </form>
        </div>
        <script src="/js/fedein.js"></script>
</body>
</html>
