<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adduserquiz.css">
    <title>問題作成フォーム</title>
</head>
<body>

    <div>
        <h1>問題作成</h1>

        <div th:if="${create}">
            <p th:text="${create}"></p>
            <form th:action="@{/stamp}" method="get">
                <button type="submit" class="stampbutton">スタンプ一覧へ</button>
            </form>
        </div>

        <div th:unless="${create}">
            <form action="/quiz/create" method="post">
                <label for="question">クイズ:</label>
                <input type="text" id="question" name="question" maxlength="100" required 
                       th:value="${quiz != null ? quiz.question : ''}">
            
                <label for="correct">正解の回答:</label>
                <input type="text" id="correct" name="correct" maxlength="100" required 
                       th:value="${quiz != null ? quiz.correct : ''}">
            
                <label for="otherone">不正解の回答1:</label>
                <input type="text" id="other_one" name="other_one" maxlength="100" required 
                       th:value="${quiz != null ? quiz.other_one : ''}">
            
                <label for="othertwo">不正解の回答2:</label>
                <input type="text" id="other_two" name="other_two" maxlength="100" required 
                       th:value="${quiz != null ? quiz.other_two : ''}">
               
                <input type="hidden" name="confirmation" 
                       th:value="${quiz != null && quiz.confirmation != null ? quiz.confirmation : true}">
            
                <button type="submit">送信</button>
            </form>
        </div>

        <div id="message" style="margin-top: 20px;"></div>
    </div>

</body>
</html>
