<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quiz/quiz.css">
    <title>正誤判定</title>
</head>
<body>
    <div id="surveyPopup" class="survey-popup">
        <div><h1 th:text="${message}">正解</h1></div>
        <h2>
            <span th:text="${nextmessage}">次はイルカの水槽の近くで問題が解けます！</span>
        </h2>
        <div><p>画面をタップで次に進みます</p></div>
    </div>

    <div class="header">
        <img src="/img/umigatari.png" alt="umigatarilogo">
        <img src="/img/batu.png" alt="batu">
        <img src="/img/jjc.png" alt="jjclogo">
    </div>
    <div class="button-container">
        <form action="/stamp" method="get">
            <button class="special-button">TOPページへ</button>
        </form>
    </div>
    <p th:text="${str}">累計正解数は99問です</p> 
    <div class="stamp-card">
         <div class="stamp-slider">
            <div class="stamp" id="stamp-1"></div>
            <div class="stamp" id="stamp-2"></div>
            <div class="stamp" id="stamp-3"></div>
            <div class="stamp" id="stamp-4"></div>
            <div class="stamp" id="stamp-5"></div>
            <div class="stamp" id="stamp-6"><button id="mapButton">館内MAP</button></div>
        </div>
    </div>

    <div class="answer">
        <div id="question-container" style="display: none;">
            <p>問題</p>
            <p th:text="${qanda.quiz}">うみがたりがほこる飼育数日本一のペンギンは？🐧</p>
            <p>答え</p>
            <p th:text="${qanda.answer}">マゼラン🐧</p>
        </div>
        <button id="show-answer" class="show-answer-button">答えを見る</button>
    </div>
    <p>スタンプページに戻って次のQRコードを探して読み込んでね！！</p>

    <div class="modal" id="mapModal">
        <div class="modal-content">
          <button class="close-btn" id="closeButton">×</button>
          <div class="maps">
            <p>1階</p>
            <img src="/img/map1.jpg" alt="Map 1">
            <p>2階</p>
            <img src="/img/map2.jpg" alt="Map 2">
            <p>3階</p>
            <img src="/img/map3.jpg" alt="Map 3">
          </div>
        </div>
      </div>

   
      <script th:inline="javascript">
        window.onload = function() {
            // サーバーから渡されたcorrectの値を受け取る
            var correct = /*[[${correct}]]*/ [];
    
            var images = {
            1: '/img/1.png',
            2: '/img/2.png',
            3: '/img/3.png',
            4: '/img/4.png',
            5: '/img/5.png'
            };
            for (var i = 0; i < correct.length; i++) {
                var stampId = "stamp-" + correct[i];
                var stampElement = document.getElementById(stampId);
                if (stampElement && images[correct[i]]) {
                    stampElement.style.backgroundImage = "url('" + images[correct[i]] + "')"; 
                    stampElement.style.backgroundSize = "cover";
                }
            }
        };
    </script>
    <script src="/js/answerpopup.js"></script>
    <script src="/js/showmap.js"></script>
</body>
</html>
