<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quiz/quiz.css">
    <title>正誤判定</title>
</head>
<body>
    <div id="surveyPopup" class="survey-popup">
        <button id="closePopup" class="close-btn">×</button>
        <h1 th:text="${message}">正解</h1>
    </div>

    <div class="header">
        <img src="/img/umigatari.png" alt="umigatarilogo">
        <img src="/img/batu.png" alt="batu">
        <img src="/img/jjc.png" alt="jjclogo">
    </div>
     
    <p th:text="${str}">累計正解数は99問です</p> 
    <div class="stamp-card">
         <div class="stamp-slider">
            <div class="stamp" id="stamp-1"></div>
            <div class="stamp" id="stamp-2"></div>
            <div class="stamp" id="stamp-3"></div>
            <div class="stamp" id="stamp-4"></div>
            <div class="stamp" id="stamp-5"></div>
            <div class="stamp" id="stamp-6"><img src="ning.jpg"></div>
        </div>
    </div>

    <div class="answer">
        <div id="question-container" style="display: none;">
            <p>問題</p>
            <p th:text="${qanda.quiz}">うみがたりがほこる飼育数日本一のペンギンは？🐧</p>
            <p>答え</p>
            <p th:text="${qanda.answer}">マゼラン🐧</p>
        </div>
        <button id="show-answer" class="show-answer-button">答えを見る</button>
    </div>
    <div class="button-container">
        <form action="/stamp" method="get">
            <button class="special-button">スタンプ一覧へ戻る</button>
        </form>
    </div>

   
    <script th:inline="javascript">
        window.onload = function() {
            var correct = /*[[${correct}]]*/ [];
            var images = {
                1: '/img/1.jpg',
                2: '/img/1.jpg',
                3: '/img/1.jpg',
                4: '/img/1.jpg',
                5: '/img/1.jpg'
            };
            for (var i = 0; i < correct.length; i++) {
                var stampId = "stamp-" + correct[i];
                var stampElement = document.getElementById(stampId);
                if (stampElement && images[correct[i]]) {
                    stampElement.style.backgroundImage = "url('" + images[correct[i]] + "')";
                    stampElement.style.backgroundSize = "cover";
                }
            }
        };
    </script>
    <script src="/js/answerpopup.js"></script>
</body>
</html>
