<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="quiz.css">
    <title>クイズ解答画面</title>
</head>
<body>
    <h1>クイズ: <span th:text="${quiz.question}"></span></h1>

    <form th:action="@{/quiz/answer}" method="post">
        <!-- quiz.typeをhiddenフィールドとして送信 -->
        <input type="hidden" name="type" th:value="${quiz.type}"/>
    
        <ul>
            <li>
                <button type="submit" name="choice" value="correct" th:text="${quiz.correct}">解答１: 正解</button>
            </li>
            <li>
                <button type="submit" name="choice" value="${quiz.other_one}" th:text="${quiz.other_one}">解答２</button>
            </li>
            <li>
                <button type="submit" name="choice" value="${quiz.other_two}" th:text="${quiz.other_two}">解答３</button>
            </li>
        </ul>
    </form>
    
</body>
</html>
