<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="quiz.css">
    <title>クイズ解答画面</title>
</head>
<body>
    <h1>クイズ: <span th:text="${quiz.question}"></span></h1>
</h1>
    <div>
        <img th:src="@{${quiz.imageUrl}}" alt="画像" width="300"/>
    </div>
    <form th: action="quiz/answer" method="post">
        <ul>
            <!-- 解答選択肢を表示 -->
            <th:block th:each="option : ${quiz.options}">
                <button type="submit" name="choice" value="author" text="${author}">解答１</button>
                <button type="submit" name="choice" value="other" text="${other1}">解答２</button>
                <button type="submit" name="choice" value="other" text="${other2}">解答３</button>
            </th:block>
        </ul>
    </form>
</body>
</html>