<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quiz/quiz.css">
    <script src="/js/confirmationtimestamp.js"></script>
    <title>クイズ選択画面</title>
</head>
<body>
    <div class="header">
        <h1>うみがたり クイズスタンプラリー</h1>
    </div>   
    <h1>３つの中から１つクイズを選んでね！</h1>
    <h1 th:text="${soved}">素手の問題をといています</h1>
    <div class="quiz-container">
        <th:block th:each="quiz : ${quiz}">
            <form th:action="@{/quiz/{id}(id=${quiz.id})}" method="post">
                <input type="hidden" id="timestamp" name="timestamp" value="">
                <div class="quiz-item">
                    <button type="submit" class="quiz-button" >
                        <span th:text="${quiz.question}"></span>
                    </button>
                </div>
            </form>
        </th:block>
    </div>

    <div class="image-container">
        <img src="/img/fish1.jpg" alt="クイズ画像1">
        <img src="/img/fish2.jpg" alt="クイズ画像2">
    </div>
</body>
</html>
