<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="randomquiz.css">
    <title>クイズ選択画面</title>
</head>
<body>
 
    <h1>３つの中から１つクイズを選んでね！</h1>
    
    <!-- すでに問題を解いている場合のメッセージ -->
    <p th:text="${soved}"></p>
    
    <div>
        <ol>
            <!-- クイズを表示する -->
            <th:block th:each="quiz : ${quiz}">
                <li>
                    <form th:action="@{/quiz/{id}(id=${quiz.id})}" method="post">
                        <button type="submit">選択: <span th:text="${quiz.question}"></span></button>
                    </form>
                </li>
            </th:block>
        </ol>
    </div>
 
</body>
</html>
